name: Test and update version

on:
  push:
    branches:
      - main
    paths:
      - 'emod_api/**'
      - 'pyproject.toml'

  # Allows manual run from the Actions tab
  workflow_dispatch:

permissions:
  contents: write # Allow writing to the repository (e.g., commits, pushes)

jobs:
  run-tests:
    name: Run tests
    uses: ./.github/workflows/test_all.yml

  bump-version:
    runs-on: ubuntu-latest
    steps:
      - name: Bump version
        uses: callowayproject/bump-my-version@1.2.6
        with:
          args: patch -vv
